# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]

init-connect='SET NAMES utf8mb4'
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
open_files_limit = 30000
key_buffer_size		= 256M
max_allowed_packet	= 32M
thread_stack		= 192K
thread_cache_size       = 8
query_cache_limit	= 8M
query_cache_size        = 64M
